<ul class="-ml-3 flex space-x-14 items-start justify-start list-none">
  <li>

    <%= link_to meow, class: "text-gray-500 space-x-2 group flex items-center justify-center", data: { turbo: false } do %>
      <%= render "svg/comment" %>
      <span class="group-hover:text-sky-500 text-gray-500">3</span>
    <% end %>

    <% if user_signed_in? && meow.user_id != current_user.id %>
      <li>
        <%= button_to remeow_meow_path(meow), method: :post, class: "text-gray-500 space-x-2 group flex items-center justify-center" do %>
          <%= render "svg/remeow" %>
          <span class="group-hover:text-green-500 text-gray-500">3</span>
        <% end %>
      </li>
    <% end %>

    <li>
      <a href="#" class="text-gray-500 space-x-2 group flex items-center justify-center">
        <%= render "svg/like" %>
        <span class="group-hover:text-rose-500 text-gray-500">3</span>
      </a>
    </li>

    <% if user_signed_in? && current_user == meow.user %>
      <li>
        <%= button_to meow_path(meow), method: :delete, form: { data: { turbo_confirm: "Are you sure?" } },
                      class: "text-gray-500 space-x-2 group flex items-center justify-center" do %>
          <%= render "svg/delete" %>
        <% end %>
      </li>
    <% end %>
    </ul>