<div class="mb-8">
  <%= render "form" %>
</div>

<div id="empty">
  <%= turbo_frame_tag Meow.new do %>
    <% if Meow.all.none? %>
      <%= render "meows/empty" %>
    <% end %>
  <% end %>
</div>

<%= turbo_frame_tag "meows" do %>
  <% @meows.each do |meow| %>
    <%= render partial: "meows/#{meow.meow_type.parameterize}", locals: { meow: meow } %>
  <% end %>
<% end %>

