<div class="mb-8">
  <%= render "form" %>
</div>

<div id="empty">
  <%= turbo_frame_tag Meow.new do %>
    <% if @meows.none? %>
      <%= render "empty" %>
    <% end %>
  <% end %>
</div>

<%= turbo_frame_tag "meows", class: "divide-y list-none" do %>
  <%= render @meows %>
<% end %>

