<div class="p-6">
  <div class="flex items-center space-x-3">
    <%= link_to root_path, class: "rounded-full w-8 h-8 flex items-center justify-center hover:bg-gray-100 duration-300 transition-all" do %>
      <%= render "svg/left-arrow" %>
    <% end %>
    <h1 class="font-bold text-2xl">Meowz</h1>
  </div>
</div>

<div class="p-6">
  <div class="flex items-start justify-between space-x-3">
    <%= profile_image(@meow.user) %>
    <div class="flex-1">
      <h1 class="font-bold">
        <%= link_to @meow.user.name, profile_path(@meow.user) %>
      </h1>
      <p class="text-gray-700"><%= "@" + @meow.user.username %></p>
    </div>
  </div>
  <div class="prose prose-2xl text-gray-900 my-3">
    <% if @meow.meow_id? %>
      <%= @meow.body %>
    <% else %>
      <%= @meow.body %>
    <% end %>
  </div>

  <ul class="py-3 border-t text-gray-700 flex space-x-4 text-sm">
    <li>
      <span class="font-semibold text-gray-800"><%= Meow.where(meow_id: @meow).size %></span> Remeowz
    </li>

    <li>
      <span class="font-semibold text-gray-800"><%= @meow.likes.size %></span> Likes
    </li>
  </ul>

  <div class="py-2 border-y px-4 justify-center flex">
    <%= render "meows/controls", meow: @meow %>
  </div>

  <% if user_signed_in? %>
    <%= turbo_frame_tag "#{dom_id(@meow)}_comment_form" do %>
      <%= render "comments/form", meow: @meow %>
    <% end %>
  <% else %>
    <p class="mt-6 text-center text-lg"><%= link_to "Sign in to comment", new_user_session_path, class: "text-sky-500 hover:text-sky-600 font-medium" %></p>
  <% end %>

  <%= turbo_frame_tag "#{dom_id(@meow)}_comments" do %>
    <% @comments.each do |comment| %>
      <%= render "comments/comment", comment: comment %>
    <% end %>
  <% end %>
</div>