<div class="py-4 border-b" id="<%= dom_id(comment) %>">
  <div class="flex space-x-3 items-start">
    <div>
      <%= profile_image(comment.user) %>
    </div>
    <div class="flex-1">
      <p class="font-bold"><%= link_to comment.user.name, profile_path(comment.user), class: "hover:underline", data: { turbo: false } %></p>
      <div class="prose prose-lg"><%= comment.body %></div>

      <ul class="-ml-3 flex space-x-14 items-start justify-start list-none">
        <li>
          <%#= content_tag :div, class: "#{dom_id(comment)}_likes" do %>
          <%#= render "likes/likes", likeable: comment %>
          <%# end %>
        </li>
        <% if user_signed_in? && current_user == comment.user %>
          <li>
            <%= button_to meow_comment_path(comment.meow, comment), method: :delete, form: { data: { turbo_confirm: "Are you sure?" } }, class: "text-gray-500 space-x-2 group flex items-center justify-center" do %>
              <%= render "svg/delete" %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>